{{#each this}}
<li class="link-gaps">
  <article class="articles">
    <img src="{{urlToImage}}" alt="articles-news-img" class="card-img" height="179" />
  <div class="card-position">
        <div class="card-content">
      <h3 class="card-header">{{title}}</h3>
      <p class="card-text">
       {{{description}}}
      </p>
    </div>
     <div class="card-time ">
        <p>{{dateAfterPublication}}</p>
        <a href="{{url}}">Read more</a>
      </div>
  </div>
  </article>
</li> 
{{/each}}
