
<li class="primary-card link-gaps">
  <article class="primary-articles">
    <img
      width="458"
      src="{{urlToImage}}"
      alt="articles-news-img"
      class="primary-card__img"
    />
    <div class="primary-card__content">
      <h3 class="primary-card__header">{{title}}</h3>
      <p class="primary-card__text">
        {{description}}
      </p>
      <div class="primary-card__time">
        <p>{{publishedAt}}</p>
        <a href="{{url}}">Read more</a>
      </div>
    </div>
  </article>
</li>

