<li class="primary-card link-gaps js-article-card" data-title="{{title}}">
  <article class="primary-articles">
    {{#if urlToImage}}
       <img src="{{urlToImage}}" alt="articles-news-img" class="primary-card__img" height="179" />
    {{else}}
   <img src="/img/news1.png" alt="articles-news-img" class="primary-card__img" height="179" />
    {{/if}}
    <div class="primary-card__content">
      <h3 class="primary-card__header">{{title}}</h3>
      <p class="primary-card__text">
        {{description}}
      </p>
      <div class="primary-card__time">
        <p>{{dateAfterPublication}}</p>
        <a href="#">Read more</a>
      </div>
    </div>
  </article>
</li>

